1. A program have to rename files of photos found in a pointed by user folder to theirs (photos) 'date taken'.

2. User must be able to set new file name date/time pattern.

3. The program renames file found recursively in all found inner directories.

4. User must be able to set max depth for scanning of inner directories.

5. The program renames NEF parameters file as well.

6. The program supports dry run.

7. The program outputs information about its work.