1. A program have to be able to change a name of pictures with a new one based on 'date taken' data.

2. User must be able to set date/time pattern to rename files to.

3. User have to be able to set one or more paths to look for pictures

4. The program must be able to look for files recursively.

5. User must be able to set max directory depth for scanning.

6. The program have to be able to rename picture files along with their parameters files as well. Like NEF + nksc.

7. The program have to support dry run.

8. The program must output information about its work.

9. The picture files means both photos and videos.